@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #191A19;              /*#424349*/
  background-size: contain;
  color: white;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  
}

img {
  border-radius: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
  text-align: center;
}

#conteudo {
  display: flex;
  align-items: center;
  
}

#conteudo main {
  width: 100%;
}

#flex1 {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: flex-start;
  position:static; 
  margin: 0 0 0 130px;
}

#form {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.font1 {
  font-size: 40px;
  color: #eaede6;
}

#font2 {
  font-size: 65px;
  color: #eaede6;
}

#font3 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  padding: 5px;
  color: #eaede6;
}

#font4 {
  font-size: 18px;
  padding: 5px;
  color: #eaede6;
}

.font5 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  line-height: 0;
  padding: 15px;
  color: #eaede6;
  align-items: center;
  
}

#font6 {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  padding: 50px;
  color: #eaede6;
  align-items: initial;
}

.font7 {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  line-height: 0;
  padding: 15px;
  color: #eaede6;
  display: flex;
  flex-direction: grid; 
  width: 385px;
  position:initial;
  align-items: center;
}

.font-footer {
  font-size: 30px;
  color: #eaede6;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction:inherit
}



h1 {
  font-size: 3rem;
  align-items: center;
}

h2 {
  font: 2rem;
  padding: 40px;
}

input {
  padding: 15px;
  border-radius: 8px;
  margin: 18px;
}

#botao-postar {
  color: #191A19;
  background-color: #4E9F3D;
  width: 340px;
  transition: 0.5s;
  height: 60px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 22px;
}

#botao-postar:hover {
  background-color: #1E5128;
  color: #020202;
  font-style: oblique;
  transition: 0.5s;
}


#postagem {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  text-align: center;
  
}

#postagem div {
  display: flex;
  background: rgb(122, 120, 120);
  border-radius: 12px;  
  flex-direction: column;
}

#postagem h3 {
  align-items: center;
  color: #ffffff;
  font-size: 45px;

}

#postagem span {
  color: #ffffff;
  align-items: center;
  font-size: 30px;
  font-family: #4E9F3D;
  font-weight: 400;
}

#postagem img {
  height: 400px;
  width: 400px;
  
  
}

#fieldset1 {
  margin-top: 10px;
  display: flex;
  flex-direction: column; 
  width: 400px;
}

#footer p {
  display: flex;
  align-items: center;
  padding: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  font-size: 18px;

}
